<h1> New Product </h1>

<%= form_for Good.new do |good| %>
    <div>
        <label>Name:</label>
        <%= good.text_field :name %>
    </div>
    <div>
        <label>description:</label>
        <%= good.text_field :description %>
        <div>
        <label>Price:</label>
        <%= good.text_field :price %>
    </div>
    </div>
    <label>Picture:</label>
    <%=good.file_field :picture %>
    <%= good.submit %>
    
     <br> <br>
    
    <div><%=link_to "Main Menu", goods_path %></div>
<br> <br>
    
<% end %>


